@use 'styles/color';

.soundTrack {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 4px;

  .header {
    display: flex;

    .title {
      display: flex;
      gap: 8px;
      align-items: center;

      .icon {
        padding: 4px;
        border-radius: 4px;
      }

      &.active {
        font-weight: 700;

        .icon {
          background-color: color.$GRAY6;
          fill: color.$GRAYE;
        }
      }
    }
  }

  .soundControl {
    display: flex;
    gap: 12px;
    align-items: center;
  }
}
