.timer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  width: 100%;
  padding: 20px;
  margin: 0 auto;

  .times {
    display: flex;
    gap: 16px;
    font-size: 40px;

    > div {
      display: flex;
      flex-direction: column;
      gap: 12px;
      align-items: center;
      justify-content: center;
    }
  }

  .timerControl {
    display: flex;
    gap: 48px;
  }
}
